body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 130%;
}
@media(width:80%) {

    .navbar {
        padding: 0px 0;
        -webkit-transition: background .05s ease-in-out,padding .05s ease-in-out;
        -moz-transition: background .05s ease-in-out,padding .05s ease-in-out;
        transition: background .05s ease-in-out,padding .05s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }

}


/*@media screen and (max-width: 600px) {*/
@media screen and (width: 80%) {
  .column {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

div.terms{
    display:block;
    position:fixed;
    bottom:-0.5%;
    right:-7%;
    width:110%;
    height:5.5%;
    background:#FFFFFF;
    border:1px solid #DA8D00;
    z-index: +999;
}
div.logo{
    display:block;
    position:absolute;
    top:-40%;
    left:65vw;
    width:1200px;
    border:0px solid #F7F7F7;
    z-index: -1;
}
#logo {
    position: relative;
}
#logo img {
    position: absolute;
    top: 0.5%;
    left: 0.5%;;
    z-index: -1;
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #8D9106;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #8D9106;
    color: #FFF;
}
.info-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #00000;
}
.experiments-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
   /* background: #EDEAEA;  */
   background: #00000;
}
.grades-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #00000;
}
.covid-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #00000;
}
.calendar-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /* background: #EDEAEA;  */
    background: #00000;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #333;
	background-color: #E4AA09;
}
.navbar-default {
    background-color: #F7F7F7;
    border-color: #DA8D00;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
